
@media screen and (max-width: 870px) {
  body {
    width: 100vw;
  }
  .header {
    display: none;
  }

  .sp-header {
    display: block;
    width: 100%;
    /* height: 50vh; */
    background: #ffffff25;
    color: #000000;
    padding-top: var(--spRowGap);
    padding-bottom: var(--spRowGap);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sp-header .bg-img {
    width: 40%;
  }
  .sp-header .bg-img video {
    width: 100%;
  }

  .sp-user {
    width: 100%;
    height: 20%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .sp-user p {
    margin-bottom: var(--spRowGap);
  }
  .sp-user .member {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--spColumGap);
  }

  .sp-search {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-bottom: 5%;
  }

  .select {
    width: 100%;
  }
  .top-selection li, .top-information li {
    box-shadow: 0 2px 3px #ff62439e;
    line-height: 2.5;
    padding-left: 3%;
  }
  .top-selection {
    margin-bottom: 8%;
  }

  .select h3 {
    text-align: center;
    color: #ff6243;
  }

  /* HeaderHeroセクション */
  .sub-hero .hero-text {
    transform: translate(20%, 100%);
  }
  
  .footer {
    display: block;
  }
  .footer .footer-logo {
    width: 80%;
    margin: 0 auto;
  }
  
}

