@charset "utf-8";

/* HERO Basic„ÅØcommon.css */
.sub-hero {
  background-image: url(../img/heros/guidanceHeader.jpg);
}


/* WRAPPER */
.guidance--wrapper {
  width: 100%;
  padding: 10%;
}
.guidance--wrapper h2 {
  margin-bottom: 5%;
}

.guidance--wrapper dl {
  margin-bottom: 5%;
}

.guidance--wrapper dt {
  margin-bottom: 2%;
}

