@charset "utf-8";

/* HERO Basicはcommon.css */
.sub-hero {
    background-image: url(../img/heros/indexHeader2.png);
}
/* fadeセレクター */
.fade {
	opacity: 0;
	transform: translateY(30%);
	transition: opacity 1.5s, transform 1.5s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

/* セクション共通タイトル */
.sec-title {
  font-size: 2.2rem;
  text-shadow: 2px 2px #fff;
  padding: 5%;
  text-align: center;
}

  /* ABOUTセクション */
.about {
  width: 80%;
  height: 200vh;
  background-color: #fff;
  background: #fff url(../img/flower.jpg);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0% 10%;
  margin: 5% auto;
}
.about .lead p {
  line-height: 2;
}

.about .img {
  width: 50%;
  aspect-ratio: 1.5;
  background : transparent url(../img/assets/kansha.png) no-repeat center / cover;
  margin-top: 15%;
  transform: rotate(-15deg);
}
.image-text {
  margin-top: 5%;
  transform: translateX(-25%);
}
.image-text2 {
  text-align: center;
}

/* お知らせ */
.notice {
  width: 100%;
  padding: 5%;
}
.notice .instagram img {
  width: 20%;
}
.notice .image1 {
  position: absolute;
  width: 25%;
  aspect-ratio: 2;
  background : transparent url(../img/assets/summer_text.png) no-repeat center / cover;
  transform: rotate(345deg) translateY(100px);
  z-index: 10;                    
}
.notice .image2 {
  position: absolute;
  width: 38%;
  aspect-ratio: 3;
  background : transparent url(../img/assets/marche!!.png) no-repeat center / cover;
  transform: rotate(345deg) translateY(200px);
  z-index: 10;                  
}
.notice .image-text {
  width: 100%;
  text-align: center;
}


/* Sliderセクション */
.slider-section {
  width: 80%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #c28787; */
}

.button-container {
  width: 100%;
  height: fit-content;
}

.shops-container {
  width: 100%;
  height: 80vh;
  position: relative;
}

.shops-container .container {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  /* background-color: #fb9f9f; */
  transform: translate(-50%, -50%);
}
.shops-container {
  height: 50%;
}
.slides {
  display: flex;
  overflow-x: auto; /* 横スクロールを有効にする */
  scroll-snap-type: x mandatory; /* 横スクロールでスナップするようにする */
}

.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
.slides img {
  object-fit: cover;
  aspect-ratio: 2.2;
  object-position: center;
  flex: 0 0 auto;
  width: 100%; /* スライダーの幅に合わせる */
  height: auto;
  scroll-snap-align: start; /* スナップ位置を画像の先頭に設定 */
}

.button-container button {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--accentColor);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.button-container button:hover {
  color: #333;
}

.button-area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.prev, .next {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 1.2rem;
}

/* Shop-listセクション */
.shop-list {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.list-card {
  width: 25%;
  line-height: 2.5;
  color: var(--accentColor);
  text-align: center;
  font-size: 1.2rem;
}
.list-card:nth-child(odd) {
  color: chocolate;
}
.list-card:nth-child(even) {
  color: cadetblue;
}


.tapping {
  width: fit-content;
  display: flex;
}

.tap-img {
  width: 10%;
}


/* Galleryセクション */
.gallery {
  width: 100%;
  padding-top: 5%;
}

.gallery .grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}
.tap {
  width: fit-content;
  font-size: 1rem;
  position: sticky;
  bottom: 10%;
  left: 5%;
  padding: 1.5%;
  line-height: 2;
  background-color: #ffffff76;
  color: var(--accentColor);
  z-index: 10;
  border-radius: 10px;
  font-weight: bold;
}

.gallery button {
  display: block;
  background-color: transparent;
  border: none;
}
.gallery .card {
  width: 20%;
  margin: 5% 3%;
}
.gallery .card a {
  display: block;
}
.gallery .card-title {
  color: var(--fontColor);
}

.card-open-wrapper .wrap-img-container {
  position: relative;
}
.card-open-wrapper {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 3px #3333339d;
  background-color: #ffffffac;
  backdrop-filter: blur(10px);
  z-index: 10;
  display: none;
  cursor: pointer;
  max-height: 80vh;
  overflow: auto;
}
.card-open-wrapper.active {
  display: flex;
  transition: all 0.8s;
}
.card-open-wrapper button {
  background-color: transparent;
  border: none;
}
.wrap-img-container {
  width: 40%;
  height: auto;
  display: block;
}
.wrap-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.wrap-img-container .prev, .wrap-img-container .next {
  font-size: 1rem;
}
.card-open {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}
.card-open .close {
  position: absolute;
  top: 15%;
  right: 3%;
  width: 10%;
  transform: translateY(-100%);
}
.card-open h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3%;
}
.card-open p {
  font-size: 1.1rem;
  margin-bottom: 10%;
}
.card-open .insta {
  width: 30%;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.card-wrapper .card {
  width: 30%;
  margin-bottom: 5%;
}
.card video {
  width: 100%;
  margin-bottom: 3%;
}
