@charset "utf-8";

/* HERO Basicはcommon.css */
.sub-hero {
    background-image: url(../img/heros/indexHeader2.png);
  }

  /* About Us */
.about {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background: #fff url(../img/flower.jpg) ;
  /* background-color: var(--baseColor); */
}

.about-text h2 {
  font-size: 1.5rem;
  position: relative;
}
.about-text h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accentColor);
  transform: translate(15%, 15%);
  z-index: -1;
}

  