@charset "utf-8";

/* HERO Basicはcommon.css */
.sub-hero {
    background-image: url(../img/heros/indexHeader2.png);
  }

  /* About Us */
.about {
  width: 80%;
  height: 200vh;
  background-color: #fff;
  background: #fff url(../img/flower.jpg);
  background-color: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5% 10%;
  margin: 5% auto;
}
.about-text h2 {
  font-size: 1.7rem;
  position: relative;
  margin-bottom: 5%;
}
.about-text h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transform: translate(15%, 15%);
  z-index: -1;
}
.about .lead p {
  line-height: 2;
}
.about .image {
  width: 60%;
  aspect-ratio: 1.5;
  background : transparent url(../img/assets/kansha.png) no-repeat center / cover;
  transform: rotate(345deg) translateY(100px);
}
.about .image-text {
  transform: translate(-20%, 400%);
}

/* お知らせ */
.notice {
  width: 100%;
  padding: 5%;
}
.notice-text {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.card {
  width: 30%;
  margin-bottom: 5%;
}
.card video {
  width: 100%;
  margin-bottom: 3%;
}

.notice .image1 {
  position: absolute;
  width: 30%;
  aspect-ratio: 2;
  background : transparent url(../img/assets/summer_text.png) no-repeat center / cover;
  transform: rotate(345deg) translateY(100px);
  z-index: 10;                    
}
.notice .image2 {
  position: absolute;
  width: 43%;
  aspect-ratio: 3;
  background : transparent url(../img/assets/marche!!.png) no-repeat center / cover;
  transform: rotate(345deg) translateY(200px);
  z-index: 10;                  
}
.notice .image-text {
  width: 100%;
  text-align: center;
}

  